*, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
}

.react-flow__handle {
  opacity: 0;
  transition: opacity 0.2s;
}

.react-flow__node:hover .react-flow__handle {
  opacity: 1;
}

.react-flow__edge-path {
  stroke: #555;
  stroke-width: 2;
}

.react-flow__edge-textbg {
  fill: white;
}

.react-flow__edge-text {
  font-size: 12px;
}

.app-container {
  display: flex;
  height: 100vh;
}

.reactflow-area {
  width: 75%;
  height: 100%;
}

.sidebar {
  width: 25%;
  padding: 25px;
  border-left: 1px solid #ccc;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar input[type='text'],
.sidebar input[type='date'] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.sidebar label {
  display: block;
  margin-bottom: 5px;
}

.sidebar button {
  padding: 8px 15px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



.edge-delete-button-wrapper {
  position: absolute;
  pointer-events: all;
  transform: translate(-50%, -50%);
}

.edge-delete-button {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 50%;
  font-size: 12px;
}




.edit-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.edit-modal-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.edit-modal-container h2 {
  margin-top: 0;
}

.edit-modal-field {
  margin-bottom: 15px;
}

.edit-modal-field label {
  display: block;
  margin-bottom: 5px;
}

.edit-modal-field input {
  width: 100%;
  padding: 5px;
}

.edit-modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.edit-modal-button {
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-modal-button.cancel {
  background: #f44336;
}

.edit-modal-button.save {
  background: #4caf50;
}



.member {
  padding: 10px;
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 6px;
  min-width: 120px;
  text-align: center;
  font-family: sans-serif;
}

.handle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: blue;
}

.member p {
  margin: 5px 0 0;
}

.member p + p {
  margin: 2px 0 0;
}

.member-buttons {
  margin-top: 10px;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.member-button {
  font-size: 10px;
  padding: 2px 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: white;
}

.member-button.edit {
  background: #2196f3;
}

.member-button.delete {
  background: #ff4d4d;
}
